@font-face {
    font-family: bruno Ace;
    src: url("../fonts/Bruno_Ace/BrunoAce-Regular.ttf");
}

body{
    margin: 0;
    padding: 0;
    font-family: bruno Ace; 
    font-size: 1.3vw    ;
    max-width: 125vw;
}

#mainContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header{
    grid-column: 1/5;
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -18.9vw -71.75vh;
    height: 55.95vh;
    display: flex;
    justify-content: left;
    z-index: 1;
}

header > nav > ul{
    display: flex;
    list-style: none;
    gap: 2vw;
    font-size: 1.3vw;
    max-width: 30vw;
    margin-top: 7vh;    
}

footer{
    grid-column: 2/6;
    background-image: url("../images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15.3vw 17.2vh;
    height: 53vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    z-index:1;
}

a{
    color: #F9F9F9;
    text-decoration: none;
}

a:hover{
    color: #00E0FF;
}

main{
    grid-column: 1/3;
    margin-left: 8.36vw;
    width: 33.45vw;
}

header > img{
    height: 15vh;
    width: 7vw;
    margin-top: 1vh;
    margin-left: 4vw;
}

footer  > img{
    height: 15vh;
    width: 7vw;
    margin-top: 38vh;
    margin-left: 15vw;
}

footer > nav > ul{
    display: flex;
    list-style: none;
    gap: 2vw;
    font-size: 1vw;
    color: #F9F9F9;
    max-width: 5vw;
    margin-left: 40vw;
    margin-top: 21vh;
}

nav{
    max-height: 2vw;
}


#NavText{
    color: #00E0FF;
}

/* ----Home Pagina---- */
#timeWiseLogo > img{
    grid-column: 3/5;
    height: 74.5vh;
    width: 36.6vw;
    margin-left: 10vw;
    margin-top: -21vh;
}

#aboutTimeWise{
    grid-column: 1/6;
    background-image: url("../images/middlePart.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 251.75vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

#aboutTimeWise > #aboutTimeWisetext{
    max-width: 35vw;
    color: #F9F9F9;
    margin-right:20vw;
    margin-left:-10vw;
    margin-top: -50vh;
}

#aboutTimeWise > img{
    height: 74.5vh;
    width: auto;
    margin-top: -80vh;
}

#aboutUs{
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin-top: -75vh;
}

#aboutUs > #aboutUstext{
    color: #0F0F0F;
    max-width: 40vw;
}

#aboutUs > #aboutUstext > p{
    color: #0F0F0F;
    max-width: 35vw;
}

#aboutUs > #arrow{
    width: auto;
    height: 25vh;
}

#aboutUs > img{
    height: 40vh;
    width: auto;
}



/* ----Handleiding Pagina---- */
#frontPageApp{
    grid-column: 4/5;
    height: 74.5vh;
    width: 36.6vw;
    max-width: 30vw;
    margin-top: -40vh;
    margin-bottom: 10vh;
}

#quote{
    grid-column: 1/6;
}

#quote > img{
    max-width: 100%;
}

#downloaden{
    grid-column: 1/4;
    margin-left: 10vw;
    max-width: 30vw;
}

#googleLogo > img{
    margin-right:10vw;
}

/* ----Login page---- */
#content{
    grid-column: 2/4;
    margin-top: -30vh;
    z-index: 2;
}



#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 125vw;
}

.loginprompt{
    display: flex;
    flex-wrap: wrap;
    gap:1vw;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.loginprompt > h1{
    font-weight: normal;
}

.field{
    border: 2px solid #F06500;
    border-radius: 12px;
}

.loginprompt > input[type=text]{
    border: 4px solid #F06500;
    border-radius: 10px;
    width: 35vh;
    height: 5vh;
    font-size: 0.8em;
    font-family: Bruno Ace;
}

input[type="password"]{
  border: 4px solid #F06500;
  border-radius: 10px;
  width: 35vh;
  height: 5vh;
  font-size: 0.8em;
  font-family: Bruno Ace;
}

.loginbuttons .button{
    border: 8px solid #F06500;
    border-radius: 35px;
    width: auto;
    height: 6vh;
    font-family: Bruno Ace;
    font-weight: bold;
    font-size: 0.9em;
}

.loginbuttons{
    display: flex;
    gap: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50vw;;
}

.loginprompt > #forgotpass{
    color:#017BFD;
    font-size: 1vw;
    border-bottom: 2px solid #017BFD;
    margin-right:3vw;
}

.loginprompt .button{
    border: 8px solid #F06500;
    border-radius: 35px;
    width: auto;
    height: 6vh;
    font-family: Bruno Ace;
    font-weight: bold;
    font-size: 0.9em;
}


/* ----Privacy Policy Page---- */
#privacyPolicy{
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-top: -25vh;
}

#privacyPolicy a{
    color:#0F0F0F
}

#privacyPolicy a:hover{
    color: #00E0FF;
}

/* ----Dashboard---- */
#welkom{
    grid-column: 3/5;
    height: 74.5vh;
    margin-top: -40vh;
    margin-bottom: 10vh;
}

#quotes{
    grid-column: 1/6;
    margin-top: -45vh;
    margin-left: 44vw;
    text-align: center;
    font-size: 2.5vw;
    transform: rotate(8deg);
    z-index: -1;
    max-width:50vw;
}

.buttonLogo{
    width: auto;
    height:20vh;
    margin-bottom: -14vh;
}

.buttonDashboard{
    border: 8px solid #F06500;
    border-radius: 35px;
    width: 20vw;
    height: 8vh;
    font-family: Bruno Ace;
    font-weight: bold;
    font-size: 1em;
    margin-left: 10vw;
}

#group{
    padding-bottom: 15vh;
}

#dashboardHeader nav{
    margin-left: -2vw;
}

#dashboardHeader {
    margin-left: -2vw;
}


/* ----Creating group---- */
#createGroup{
    grid-column: 2/4;
    
}