@font-face {
    font-family: bruno Ace;
    src: url("../fonts/Bruno_Ace/BrunoAce-Regular.ttf");
}



body{
    margin: 0;
    padding: 0;
    font-family: bruno Ace; 
    font-size: 1.3em;
    max-width: 125vw;
}

#mainContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header{
    grid-column: 1/5;
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -18.9vw -41.75vh;
    height: 55.95vh;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 2vw;
    position: relative;
    left: 8.7vw;
    top: -10.9vh;
    font-size: 1em;
    max-width: 25vw;
}

a{
    color: #F9F9F9;
    text-decoration: none;
}

a:hover{
    color: #00E0FF;
}

main{
    grid-column: 1/3;
    margin-left: 8.36vw;
    width: 33.45vw;
}

header > img{
    position: relative;
    left: 3.7vw;
    top: 1.4vh;
    height: 15vh;
    width: 7vw;
}
/* ----Home Pagina---- */
#timeWiseLogo > img{
    grid-column: 3/5;
    position: relative;
    top: -24.5vh;
    left: 15vw;
    height: 74.5vh;
    width: 36.6;
}

#HomeText{
    color:#00E0FF;
}

#aboutTimeWise{
    grid-column: 1/6;
    position: relative;
    top: -35vh;
    background-image: url("../images/middlePart.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 251.75vh;
}

#aboutTimeWise > h1{
    position: relative;
    top: 80vh;
    left: 8.5vw;
    max-width: 35vw;
    color:#F9F9F9;
}

#aboutTimeWise > p{
    position: relative;
    top: 85vh;
    left: 8.5vw;
    max-width: 41.8vw;
    line-height: 1.5em;
    color:#F9F9F9;
}

#aboutTimeWise > img{
    position: relative;
    top: 10vh;
    left: 70vw;
    height: 74.5vh;
    width: auto;
}

#aboutUs{
    grid-column: 1/6;
    position: relative;
    top: -80vh;
    left: 8.5vw;
    max-width: 40vw;
}

#aboutUs > h1{
    color:#0F0F0F;
}

#aboutUs > p{
    max-width: 40vw;
    color:#0F0F0F;
}

#aboutUs > img{
    position: relative;
    top: -40vh;
    left: 48vw;
    height: 40vh;
    width: auto;
}

#aboutUs > #arrow{
    position: absolute;
    top: -8vh;
    left: 36.5vw;
    width: auto;
    height: 25vh;
}











































/* ----Handleiding Pagina---- */
#frontPageApp{
    grid-column: 3/5;
    position: relative;
    top: -50.5vh;
    left: 15vw;
    height: 74.5vh;
    width: 36.6vw;
    max-width:30vw;
}

#quote{
    grid-column: 1/6;
    position: relative;
    top: -55vh;
    right: 27vw;
    max-width: 25vw;
    width: 1fr;  
}

#downloaden{
    grid-column: 1/3;
    margin-left: 8.36vw;
    position: relative;
    top: -50vh;
    max-width: 30vw;
}

#googleLogo{
    position: relative;
    top: -50vh;
    left: 9vw;
}